service: serverless-testit

provider:
  name: aws
  runtime: python3.6
  stage: dev
  region: eu-west-1

# you can add statements to the Lambda function's IAM Role here
#  iamRoleStatements:
#    - Effect: "Allow"
#      Action:
#        - "s3:ListBucket"
#      Resource: { "Fn::Join" : ["", ["arn:aws:s3:::", { "Ref" : "henrihe-test-file-sync-bucket " } ] ]  }
#    - Effect: "Allow"
#      Action:
#        - "s3:PutObject"
#      Resource:
#        Fn::Join:
#          - ""
#          - - "arn:aws:s3:::"
#            - "Ref" : "henrihe-test-file-sync-bucket "
#            - "/*"

environment:
    BUCKET_NAME: henrihe-test-file-sync-bucket 

functions:
  function1:
    handler: json_move_template.lambda_handler
    environment:
        TABLE_NAME: test
        URL: https://rata.digitraffic.fi/api/v1/train-tracking?version=65403053026
   function2:
    handler: lambda_1.lambda_handler
    environment:
        TABLE_NAME: test1
        URL: https://rata.digitraffic.fi/api/v1/trains/latest/1
