service: serverless-testit

provider:
  name: aws
  runtime: python3.6
  stage: dev
  region: eu-west-1

# you can add statements to the Lambda function's IAM Role here
  iamRoleStatements:
    - Effect: "Allow"
      Action:
        - "s3:ListBucket"
        - "s3:PutObject"
        - "s3:GetObject"
      Resource: "arn:aws:s3:::henrihe-test-file-sync-bucket/*"

functions:
  function1:
    handler: json_move_template.lambda_handler
    environment:
        TABLE_NAME: test
        URL: https://rata.digitraffic.fi/api/v1/train-tracking?version=65403053026
        BUCKET_NAME: ${ssm:testBucket}
  function2:
    handler: lambda_1.lambda_handler
    environment:
        TABLE_NAME: test1
        URL: https://rata.digitraffic.fi/api/v1/trains/latest/1
        BUCKET_NAME: ${ssm:testBucket}
